header {
	background-color: #F29191;
	height: 100px;
	box-shadow: 0 5px 5px 0 grey;
}

/*.countdownContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	background: white;
	transform: translateX(-50%) translateY(-50%);
}*/


body{
	background-color: lightgrey;
}

h1{
	text-align: center;
	font-family: 'Secular One', sans-serif;
	font-size: 6em;
}

main > p{
	font-size: 2em;
}

section[id="countdown"]{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;

}

section[id="countdown"] > span{
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	
}

section[id="countdown"] > span::after{
	content: attr(data-unit-name);
	height: 50px;
	position: absolute;
	bottom: -50px;

}